.centrado{
    font-size:x-large;
    text-align: center;
    text-decoration-line: underline;
    font-weight: bold;
}
.receta{
    text-align: justify;
}
.ingredientes{
    text-align: left;
}
.cantidades{
    font-weight: bold;
}
.porciones{
    text-align: left;
    text-decoration: gray;
}
.pasos{
    text-align: justify;
}
.pasos h2{
    color:darkgray;
}
.pasos h3{
    color: darkgray;
}